/* Imgchat.module.css */
.t {
    
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    gap: 12px;

}

.itemContainer {
    border: 1px solid #c52020;
    padding: 8px;
    margin: 8px;
    text-align: center;
    width: 200px;
}
img{
    width: 250px;
    height: 200px;
    
}
