/* CompleterPhrases.css */

#phrasesForm {
    font-family: Arial, sans-serif;
  }
  
  #phrasesForm p {
    margin-bottom: 10px;
  }
  
  #phrasesForm input[type="text"] {
    padding: 5px;
    width: 30px;
    text-align: center;
  }
  
  #phrasesForm button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #phrasesForm button:hover {
    background-color: #0056b3;
  }
  
  #phrasesForm p {
    display: flex;
    align-items: center;
  }
  
  #phrasesForm p input[type="text"] {
    margin-right: 5px;
  }
  