.heading{
    color: red;
}

.box {
    width: 50%;
    background-color: rgb(5, 6, 34);
    color: aliceblue;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .box {
        width: 80%;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .box {
        width: 90%;
        font-size: 16px;
    }
}
