/* Styles de base pour le header */
.header {
    background-color: #004080; /* Couleur de fond bleue foncée */
    color: #fff; /* Couleur du texte blanche */
    padding: 20px 0; /* Espacement intérieur */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
}

/* Conteneur pour centrer le contenu */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Titre du site */
.title {
    margin: 0;
    font-size: 1.8em; /* Taille de la police */
    font-weight: bold; /* Gras */
    letter-spacing: 1px; /* Espacement entre les lettres */
}

/* Styles de la navigation principale */
.nav {
    position: relative; /* Nécessaire pour le positionnement des sous-menus */
}

.mainNav {
    list-style: none; /* Pas de puces */
    padding: 0; /* Pas d'espacement intérieur */
    margin: 0; /* Pas d'espacement extérieur */
    display: flex; /* Disposition horizontale */
}

.navItem {
    position: relative; /* Nécessaire pour le positionnement des sous-menus */
}

/* Styles des liens */
.linke {
    text-decoration: none; /* Pas de soulignement */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    display: block; /* Bloc pour permettre le padding */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour les effets de survol */
}

.link:hover {
    background-color: #0059b3; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
}

/* Styles des sous-menus */
.subMenu {
    list-style: none; /* Pas de puces */
    padding: 0; /* Pas d'espacement intérieur */
    margin: 0; /* Pas d'espacement extérieur */
    display: none; /* Caché par défaut */
    position: absolute; /* Positionné par rapport à l'élément parent */
    left: 0; /* Aligné à gauche */
    top: 100%; /* Sous l'élément parent */
    background-color: #004080; /* Même couleur de fond */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
    z-index: 1; /* Au-dessus des autres éléments */
}

.navItem:hover .subMenu {
    display: block; /* Affiché au survol */
}

.subMenu .subMenu {
    top: 0; /* Aligné en haut */
    left: 100%; /* À droite de l'élément parent */
    margin-left: 1px; /* Petit espacement pour éviter le chevauchement */
}

.subNavItem {
    position: relative; /* Nécessaire pour le positionnement des sous-sous-menus */
}

.subMenu .link {
    padding: 10px 20px; /* Espacement intérieur */
    white-space: nowrap; /* Pas de retour à la ligne */
}

.subMenu .link:hover {
    background-color: #0059b3; /* Couleur de fond au survol */
}
/* Styles des sous-menus */
.subMenu {
    list-style: none;
    background-color: #5e0a0a;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #004080;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navItem:hover > .subMenu {
    display: flex;
}

.subMenu .subMenu {
    top: 0;
    left: 100%;
    margin-left: 1px;
}

.subNavItem:hover > .subSubMenu {
    display: block;
}

.subSubMenu {
    background-color: #5e0a0a;
    list-style: none;
    display: none;
}
/* Styles des sous-menus de Primaire et Secondaire */
.subMenuPrimaire,
.subMenuSecondaire {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #004080;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navItem:hover > .subMenuPrimaire {
    display: block;
}

.navItem:hover > .subMenuSecondaire {
    display: block;
}

.subMenuPrimaire .subMenuPrimaire,
.subMenuPrimaire .subMenuSecondaire,
.subMenuSecondaire .subMenuPrimaire,
.subMenuSecondaire .subMenuSecondaire {
    display: none;
}

.subMenuPrimaire:hover > .subMenuPrimaire,
.subMenuPrimaire:hover > .subMenuSecondaire,
.subMenuSecondaire:hover > .subMenuPrimaire,
.subMenuSecondaire:hover > .subMenuSecondaire {
    display: block;
}
