

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
  }
  
  #content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .game-container, .chart-container {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    margin: 20px;
  }
  
  .chart-container {
    text-align: center;
  }
  